version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        REPO_URL: https://github.com/youruser/yourrepo.git
        BRANCH: main
    ports:
      - "8080:8080"
